{ 
  "reddit": {
    "user_agent":"",
    "client_id":"",
    "client_secret":"",
    "username":"",
    "password":""
  },
  "slack": {
    "webhook": "",
    "enabled": false
  },
  "discord": {
    "webhook": "",
    "enabled": false
  },
  "telegram": {
    "token": "",
    "chat_id": "",
    "enabled": false
  },
  "debug": true,
  "max_text_length": 200,
  "ignore_old_unread": true
}
