{ 
  "reddit": {
    "user_agent":"",
    "client_id":"",
    "client_secret":"",
    "username":"",
    "password":""
  },
  "slack": {
    "webhook": "",
    "enabled": false
  },
  "discord": {
    "webhook": "",
    "enabled": false
  },
  "telegram": {
    "token": "",
    "chat_id": "",
    "enabled": false
  },
  "debug": true
}
