[Unit]
Description=NewMessage

[Service]
ExecStart=/usr/bin/python newmessage.py 
WorkingDirectory=/home/niek/NewMessage/
Restart=always
RuntimeMaxSec=604800
RestartSec=10 
StandardOutput=syslog
StandardError=syslog
SyslogIdentifier=newmessage
User=niek

[Install]
WantedBy=multi-user.target
